body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.divPai{
  background-color: rgb(255, 255, 255);
  padding: 2vh;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Div_atributos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}


.campo_form input{
  width: 15vw;
}


